
.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}

.table-view *.scroll-bar:horizontal *.increment-button,
.table-view *.scroll-bar:horizontal *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.table-view *.scroll-bar:horizontal *.increment-arrow,
.table-view *.scroll-bar:horizontal *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}

.table-view .scroll-bar:vertical > .increment-button,
.table-view .scroll-bar:vertical > .decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}

.table-view .filler {
    -fx-opacity: 0;
    -fx-background-color: transparent;
}

.table-row-cell:focused {
    -fx-background-color: #fff;
    -fx-text-fill: #000;
    
}
.table-row-cell:selected {
    -fx-background-color: #fff;
     -fx-text-fill: #000;
}



.table-view:focused{
    -fx-background-color: transparent;
}

/*Style of each column header's background in the tableView*/
.table-view .column-header-background{
    -fx-background-color: #4059a9;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #fff;
    -fx-padding: 5px;
    
    
    
    
}


 /*Style of each column header's label  in the tableView */
.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 13px;
    
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-size: 35px;
}


.table-row-cell {
    -fx-cell-size: 45px;
    -fx-border-style: solid;
    -fx-border-width: 0 0 2px 0;
    -fx-border-color: #4059a9;
    -fx-text-alignment: center;
    -fx-background-color: #fff;
    -fx-table-cell-border-color:transparent;
    -fx-text-fill: #000;
}

.table-view .table-column {
  -fx-alignment: CENTER;
  
}

.changeAttendanceButton {
    -fx-text-fill: #fff;
    -fx-background-color: #413839;
    -fx-border-color: #000;
    -fx-border-radius: 25px;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-padding: 7px 15px 7px 15px;
    -fx-background-radius: 25px;
}


.combo-box > .list-cell {
    -fx-background: transparent;
    -fx-background-color: transparent;
    -fx-text-fill: #4059a9;
    -fx-padding: 0.25em 0 0.166667em 0.583333em; /* 3 0 2 7 */
    -fx-cell-size: 1.7500em; /* 21 */
}

.combo-box-popup > .list-view {
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
}

.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell {
    -fx-padding: 4 0 4 5;
    
    /* No alternate highlighting */
    -fx-background-color: -fx-control-inner-background;
}

.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected, 
.combo-box-popup  > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected:hover {
    -fx-background: #4059a9;
    -fx-background-color: #4059a9;
    -fx-text-fill: -fx-selection-bar-text;
}

.combo-box-popup  > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:hover {
    -fx-background-color: #4059a9;
    -fx-text-fill: #fff;
}



.week-combobox .cell {
    -fx-text-fill: #4059a9;
}






