
.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}

.table-view *.scroll-bar:horizontal *.increment-button,
.table-view *.scroll-bar:horizontal *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.table-view *.scroll-bar:horizontal *.increment-arrow,
.table-view *.scroll-bar:horizontal *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}

.table-view .scroll-bar:vertical > .increment-button,
.table-view .scroll-bar:vertical > .decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}

.table-view .filler {
    -fx-opacity: 0;
    -fx-background-color: transparent;
}

.table-row-cell:selected {
    -fx-background-color: #808080;
    
}
.table-row-cell:selected {
    -fx-background-color: #808080;
}

.table-view{
   -fx-background-color: #fff;
   
}

.table-view:focused{
    -fx-background-color: transparent;
}

/*Style of each column header's background in the tableView*/
.table-view .column-header-background{
    -fx-background-color: #4059a9;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #fff;
    -fx-padding: 5px;
    
    
    
    
}


 /*Style of each column header's label  in the tableView */
.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 13px;
    
}

.table-view .column-header {
    -fx-background-color: transparent;
}



.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}

.table-view *.scroll-bar:horizontal *.increment-button,
.table-view *.scroll-bar:horizontal *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.table-view *.scroll-bar:horizontal *.increment-arrow,
.table-view *.scroll-bar:horizontal *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}

.table-view .scroll-bar:vertical > .increment-button,
.table-view .scroll-bar:vertical > .decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}

.table-view .filler {
    -fx-opacity: 0;
    -fx-background-color: transparent;
}

.table-row-cell:focused {
    -fx-background-color: #fff;
    -fx-text-fill: #000;
    
}
.table-row-cell:selected {
    -fx-background-color: #fff;
     -fx-text-fill: #000;
}
.table-row-cell:selected .text {
       -fx-fill: #000 ;

}

.table-row-cell:hover {
       -fx-background-color: #4059a929 ;

}


.table-view:focused{
    -fx-background-color: transparent;
}




/*Style of each column header's background in the tableView*/
.table-view .column-header-background{
    -fx-background-color: #4059a9;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #fff;
    -fx-padding: 5px;
    
    
    
    
}


 /*Style of each column header's label  in the tableView */
.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 13px;
    
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-size: 35px;
}


.table-row-cell {
    -fx-cell-size: 45px;
    -fx-border-style: solid;
    -fx-border-width: 0 0 2px 0;
    -fx-border-color: #4059a9;
    -fx-text-alignment: center;
    -fx-background-color: #fff;
    -fx-table-cell-border-color:transparent;
    -fx-text-fill: #000;
}

.table-view .table-column {
  -fx-alignment: CENTER;
  
}

.changeAttendanceButton {
    -fx-text-fill: #fff;
    -fx-background-color: #413839;
    -fx-border-color: #000;
    -fx-border-radius: 25px;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-padding: 3px 7px 3px 7px;
    -fx-background-radius: 25px;
    -fx-font-size: 10px;
    
}




